.footer{
  *{
    color: #fff;
    text-decoration: none;
    font-family: wfont_b31635_df283e25f2614502bae196db17f312dd, wf_df283e25f2614502bae196db1, orig_kazesawasemibold;
    -webkit-font-smoothing: antialiased;
  }
  .detail{
    padding-top: @minmax(18px);
    margin: 0 min( 100px , 150Px );

    .links-box{
      margin-left: max( -75px , -85Px );
    }

    .footer-links-top{
      margin-left: min( 25px , 33Px ) ;
      ul{
        margin-top: @minmax(16px);
        margin-bottom: @minmax(9px);

        li{
          margin-bottom: min( 5px , 9Px );
          font-size: min( 12px , 19Px );
          a{
            font-size: min( 12px , 19Px );
          }
        }
      }
    }

    .footer-links-group{
      .links{
        .group{
          margin-left: min( 25px , 33Px ) ;
          margin-right: min( 15px , 21Px );
          &:nth-child(3) {
            margin-left: min( 27px , 40Px );
            margin-right: min( 27px , 40Px );
          }
          h4{
            font-size: min( 11.7px , 18Px );
          }
          ul{
            padding-left: @minmax(8px);
            margin-top: @minmax(9px);

            li{
              margin-bottom: min( 10px , 15Px );
              a{
                font-size: min( 9.5px , 14Px );
              }
            }
          }
          .legal-links{
            margin-top: min( 20px , 30Px );
          }
        }
      }

      .logo{
        margin-bottom: min( 6.5% , 60Px );
        img{
          height: min( 65px, 128Px );
        }
      }
    }
  }
  .copyright{
    font-size: 8Px;
    padding: @minmax(6px);
  }
}
@media screen and (max-width:480px) {
  .footer{
    .copyright{
      padding: 40px 0;
    }
  }
}
