.social-block{
  position: relative;
  margin: 50px 0;
  .social-swiper{
    width: 100%;
    .social-item{
      text-align: center;
      .img{
        height: 250px;
        width: auto;
        margin: 0 auto;
        img{
          margin: 0 auto;
          width: auto;
          height: 100%;
        }
      }
    }
  }
  .btn{
    background: #fff;
    border-radius: 50%;
    width: 90Px;
    height: 90Px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -45Px;
    z-index: 10;
    transform: translateX(-45Px) scale(0.534188);
    transform-origin: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .9;
    transition: .3s;
    &:hover{
      opacity: 1;
    }
    &.left{
      margin-left: -375px;
      svg{
        transform: rotateZ(180deg);
        transform-origin: center;
      }
    }
    &.right {
      margin-left: 375px;
    }
  }
}
@media screen and (max-width:750px) {
  .social-block{
    margin: 85px 0;
    .social-swiper{
      .social-item{
        .img{
          height: 450px;
        }
      }
    }
    .btn{
      transform: translateX(-45Px) scale(0.44188);
      &.left{
        margin-left: -325px;
      }
      &.right{
        margin-left: 325px;
      }
    }
  }
}

@media screen and (max-width:1000px) and (min-width:751px) {
  .social-block{
    margin: 45px 0;
    .social-swiper{
      .social-item{
        .img{
          height: 260px;
        }
      }
    }
    .btn{
      &.left{
        margin-left: -375px;
      }

      &.right{
        margin-left: 375px;
      }
    }
  }
}
@media screen and (min-width:1001px) and (max-width:1500px) {
  .social-block{
    margin: 20Px 0;
    .social-swiper{
      .social-item{
        .img{
          box-sizing: border-box;
          height: 315px;
        }
      }
    }
    .btn{
      &.left{
        margin-left: -410px;
      }
      &.right{
        margin-left: 410px;
      }
    }
  }
}
@media screen and (min-width:1501px) {
  .social-block{
    margin: @minmax(50px) 0;

    .social-swiper{

      .social-item{
        .img{
          height: min( 260px , 431Px );
        }
      }
    }
    .btn{
      &.left{
        margin-left: @minmax(-375px);
      }

      &.right{
        margin-left: @minmax(375px);
      }
    }
  }
}
